<!-- Page Content -->
<div class="container">
  <div class="row">
    <%= render partial: 'site/shared/sidebar_html' %>
    <div id="home-detail" class="col-lg-9">
      <%= render partial: 'site/shared/carousel'%>
      <div class="row">
        <%= render partial: 'site/shared/ads' %>
      </div>
    </div>
  </div>
  <br>
</div>
