<!-- Page Content -->
<div class="container" style="min-height: 80vh">
  <div class="row">
    <%= render partial: "site/profile/menu_profile" %>
    <div class="col-lg-9" style="margin-top: 30px">
      <h1 class="text-center" style="margin-bottom: 20px">Dashboard</h1>
    </div>
  </div>
</div>